// Place all the styles related to the StaticPagesController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light_blue: #E9EBEE;

body {
  background: $light_blue;
}

.tweet-feed {
  width: 620px;
  margin: 0 auto;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
